In [2]:
import pandas as pd
ser = pd.Series([100, 200, 300, 400, 500], index = ['tom', 'bob', 'nancy', 'dan', 'eric'])

In [2]:
ser.loc[['tom','bob']]

tom    100
bob    200
dtype: int64

In [3]:
ser[[0,1]]

tom    100
bob    200
dtype: int64

In [4]:
ser.iloc[[0,1]]

tom    100
bob    200
dtype: int64

In [5]:
ser[['tom','bob']]

tom    100
bob    200
dtype: int64

In [6]:
ser[3]

400

In [4]:
tags = pd.read_csv('./Week-4-Pandas/movielens/tags.csv', sep=',')
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [5]:
tags['movieId'].describe()

count    465564.000000
mean      32627.762920
std       36080.241157
min           1.000000
25%        2571.000000
50%        7373.000000
75%       62235.000000
max      131258.000000
Name: movieId, dtype: float64

In [7]:
tags.mode()

   userId  movieId     tag   timestamp
0   88738      296  sci-fi  1282759001

In [8]:
d = {'one' : pd.Series([100.,200.], index=['apple','orange']),
    'two' : pd.Series([111.,211], index=['apple','orange'])}
df = pd.DataFrame(d)
filter = df['one']>100
print(filter.any())

True

In [10]:
tags.isnull().any()

userId       False
movieId      False
tag           True
timestamp    False
dtype: bool

In [20]:
sen = "Feuer, Eis & Dosenbier"
se = pd.Series(sen)
se.str.extract('.*\,(.*)\&.*', expand=True)

       0
0   Eis